@font-face {
	font-family: 'ancient';
	src: url('ancient.ttf') format('truetype');
}
@font-face {
	font-family: 'kreoleac';
	src: url('kreoleac.ttf') format('truetype');
}
@font-face {
	font-family: 'gate';
	src: url('gate.ttf') format('truetype');
}
@font-face {
	font-family: 'gate2';
	src: url('gate2.otf') format('opentype');
}
.right { transform: rotateY(180deg); }
.stretch_it { white-space: nowrap; }
body {
	background-color: #111;
	color: #ccb;
	font-family: 'kreoleac';
	font-size: 3rem;
}
body * {
	font-size: 3rem;
	box-sizing: border-box;
	text-transform: uppercase;
}
small {
	font-size: smaller !important;
}
.locations {
	padding: 0;
    border-collapse: collapse;
}
.locations tr td {
	border-bottom: 1px solid #777;
	padding: 1rem;
}
.locations .code {
	font-size: 5rem;
	letter-spacing: 0.7rem;
	text-align: center;
	font-size: kreoleac !important;
}
.ancient .locations .code {
	font-size: ancient !important;
}
.locations .code.locked {
	color: #600;
}
.kreoleac {
	font-family: 'kreoleac';
}
.gate {
	font-family: 'gate' !important;
}
.gate2 {
	font-family: 'gate2' !important;
	letter-spacing: 2.5rem;
}
body.ancient,
body.ancient .ancient {
	font-family: 'ancient';
}
.latin {
	font-family: sans-serif;
}
body .ancient,
body .latin,
body.ancient .kreoleac,
body.latin .kreoleac {
	display: none;
}
body .kreoleac,
body.ancient .ancient,
body.latin .latin {
	display: inline;
}
.ooc {
	font-family: sans-serif !important;
	font-size: 1rem;
	display: inline-block;
	background: #ff0;
	color: #111;
	border-radius: 3px;
	padding: 0.5rem 0.7rem;
	margin: 0 auto;
	letter-spacing: normal !important;
	text-transform: none !important;
}
.ooc::before {
	content: 'OOC:';
}
body {
	margin: 0 auto;
    margin-bottom: 10px;
	word-wrap: break-word;
	letter-spacing: 0.2rem;
	height: 100%;
	overflow: hidden;
}
.frame {
	width: 100%;
	max-height: 100%;
	position:  absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.frame div {
	overflow-y: auto;
	max-height: 100%;
}
.frame .menu {
	width: 32%;
	vertical-align: top;
	padding: 1rem 0;
	overflow: hidden;
	float: left;
}
.frame iframe {
	width: 67%;
	height: 90%;
	max-height: 90%;
	border: 0 none;
	float: right;
	margin: 1rem 0;
}
.menu ul {
	margin-top: 1rem;
	max-height: 80%;
	padding-left: 0;
	overflow-y: auto;
}
.menu ul li {
	margin-bottom: 0.4rem;
	list-style: none;
}
.menu ul li * {
	font-size: 2.4rem;
}
.menu ul li a {
	background-color: #444;
	border-radius: 0.5rem;
	padding: 0.3rem 1rem;
	display: block;
}
.scroll {
	overflow-y: auto;
	max-height: 100%;
	padding: 0 1rem;
	max-width: 100%;
}
table {
	max-width: 100%;
}
.key {
	font-size: 30px;
}
a {
	color: #fff;
}
button, input {
	font-family: 'Aurebesh';
}
.audio-control {
	background-color: #060;
	border-radius: 4rem;
	color: #222;
	padding: 1.3rem 0.6rem 0.9rem 1.0rem;
	text-align: center;
	float: right;
	margin: 0 0 1rem 1rem;
	line-height: 1.5rem;
}
td .audio-control {
	float: left;
	margin: 0;
	padding-right: 0;
}
@media screen and (max-width:1000px) {
	.menu ul li:first-child,
	.hide-on-handheld {
		display: none;
	}
}
@media screen and (min-width:1000px) {
	.show-on-handheld {
		display: none;
	}
}
